@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

body{
    background-image: linear-gradient(to right top, #c0c2c4, #999c9d, #757777, #535554, #343433);
    width: 100%;
}

h1{
    font-family: 'Coda Caption', sans-serif;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
    margin: auto;
    border: 6px solid #757373;
    border-radius: 6px;
    position: relative;
    top: 27px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    background-color: #aaaaaa;
    width: 20%;
}

.left{
    border-right: 2px solid #fff;
}

.right{
    border-left: 2px solid #fff;
}

#arraw{
    font-size: 50px;
    color: crimson;
}

#title{
    font-size: 5em;
    font-weight: 700;
    font-family: 'Alatsi', sans-serif;
    display: inline;
}

#make-circle{
    background-color: rgba(62, 61, 61, 0.612);
    border: black 1px solid;
        border-radius: 27%;
    padding: 3px;
    color: #fff;
    font-size: smaller;
}

#twenty{
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Coda Caption', sans-serif;
}

.themain{
    display: inline-flex;
}

#count{
    width: 154px;
    height: 150px;
    position: relative;
    left: 34px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb;
    border: 1px solid #9e9e9e;
    border-radius: 50%;
}

input#theme {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 23px;
}

div#myvid {
    width: 554px;
    position: relative;
    height: 366px;
    left: 13%;
    top: 20px;
    border-radius: 4%;
}

.imageslider{
    width: 98%;
    height: 366px;
    background-size: cover;
    object-fit: cover;
    border-radius: 25px;
}

#howtoplay{
    width: 156px;
    height: 50px;
    border: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.top-container {
    position: relative;
    background-color:#898b8a;
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
}

.april{
    position: relative;
    background-color:#888B8A;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
}



.darktheme {
    position: relative;
    left: 22%;
}

.topdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lysol{
    width: 60%;
    background-color: #ccc;
}

.middle {
    display: inline-flex;
    width: 100%;
    background-color: #d3e0ea;
    height: 639px;
}

.gamebox {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    position: relative;
    top: 118px;
}

.april{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p#playeronetextbox, p#playertwotextbox {
    position: relative;
    bottom: 33px;
    text-align: center;
}

.bottomlayer{
    width: 236px;
    margin: 12px;
    height: 50px;
    /* background-color: #9e9e9e; */
    cursor: pointer;
    color: #fff;
    border: 1px #333333 solid;
    border-radius: 7px;
    color: #fff;
}

input#respondto {
    width: 50%;
    height: 50px;
    margin: 9px;
    border-radius: 8px;
}
input#respondto {
    text-align: center;
}
input#submitguess {
    width: 20%;
    height: 41px;
}
.guessresponse {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 17px;
}

.gameplay {
    width: 93%;
    height: 186px;
    border: 1px solid #898b8a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    position: relative;
    bottom: 43px;
}

video {
    transform: rotateY(180deg); 
}

#peerVideo:hover {
    opacity: 0.6;
    cursor: pointer;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hideme{
    visibility: hidden;
}

div#secondcol, div#secondbutton{
    width: 271px;
    height: 100px;
}

.formque {
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 35px;
    left: 3px;
}
p#goone, p#gotwo, #starpause, #gamestart {
    display: flex;
    justify-content: center;
    align-items: center;
}
#starpause{
    position: relative;
    /* top: 42px; */
}
.formdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 35px;
}
span#replacediv, span#replacebutton {
    font-size: x-large;
    color: #fff;
}

.green{
    background-color: #374045;
}

.goaway{
    display: flex;
    justify-content: center;
}


/*Modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modalclass {
    display: flex;
    justify-content: center;
    align-items: center;
}
p.modalclass1 {
    text-align: center;
    font-size: xx-large;
}

.modalclass2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-bottom: 20px;
}

span#playmod input {
    width: 30%;
    height: 50px;
}

.none{
    display: none;
}
.modposition{
    position: relative;
}

